trux.cabal
test.pdf
hi.hi
code.tex
code.run.xml
code.pdf
code.out
code.log
code.fls
code.fdb_latexmk
code.blg
code.bcf
code.bbl
code.aux
Main.elm
.stack-work/
nusrc/*
examples/*.pdf
*.swp
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
examples/*.tex
test.tex
